@using Turkai.Model.Dtos;
@model ProductDto
<script src="~/js/AddedSepet.js"></script>
<script src="~/js/AddedLocalStorage.js"></script>

<h2>Products</h2>
<div class="row w-50">

    <button class="w-50" onclick="GotoBack()">Go to Index</button>
    <div class="p-0">Please write how many items you want</div>
    <div class="col w-100">
        <input class="w-25" type="text" id="basketSize-@Model.Id" value="1">
        <button onclick="AddedSepet(@Model.Id,'@Model.Title')">Add Basket</button>
    </div>
    

</div>

<div id="errorPopup" style="display: none;">
    <p id="errorText" style="background:#fff0f0;color:red;height:50px;"></p>
</div>

@if(Model is null)
{
    <div> Not Found Product</div>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Discount Percentage</th>
                <th>Rating</th>
                <th>Stock</th>
                <th>Brand</th>
                <th>Category</th>
                <th>Thumbnail</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.Title</td>
                <td>@Model.Description</td>
                <td>@Model.Price</td>
                <td>@Model.DiscountPercentage</td>
                <td>@Model.Rating</td>
                <td>@Model.Stock</td>
                <td>@Model.Brand</td>
                <td>@Model.Category</td>

                <td><img src="@Model.Thumbnail.AbsoluteUri" alt="Thumbnail" width="100" height="100" /></td>
                <td><img src="@Model.Images[0].AbsoluteUri" alt="Thumbnail" width="100" height="100" /></td>
            </tr>
        </tbody>
    </table>
}
<script>

    function GotoBack() {

        window.location.href = "/";
    }
</script>